In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../assets/train.csv')

In [6]:
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [7]:
df.shape

(10506, 12)

In [15]:
df.isnull().sum()

Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

In [16]:
df.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

In [17]:
df.describe(include=['object'])

,Date,Address,Species,Street,Trap,AddressNumberAndStreet
count,10506,10506,10506,10506,10506,10506
unique,95,138,7,128,136,138
top,2007-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL"
freq,551,750,4752,750,750,750

In [18]:
df.sort_values('Trap').Trap.unique()

array(['T001', 'T002', 'T003', 'T004', 'T005', 'T006', 'T007', 'T008',
       'T009', 'T011', 'T012', 'T013', 'T014', 'T015', 'T016', 'T017',
       'T018', 'T019', 'T025', 'T027', 'T028', 'T030', 'T031', 'T033',
       'T034', 'T035', 'T036', 'T037', 'T039', 'T040', 'T043', 'T044',
       'T045', 'T046', 'T047', 'T048', 'T049', 'T050', 'T051', 'T054',
       'T054C', 'T060', 'T061', 'T062', 'T063', 'T065', 'T066', 'T067',
       'T069', 'T070', 'T071', 'T072', 'T073', 'T074', 'T075', 'T076',
       'T077', 'T078', 'T079', 'T080', 'T081', 'T082', 'T083', 'T084',
       'T085', 'T086', 'T088', 'T089', 'T090', 'T091', 'T092', 'T094',
       'T094B', 'T095', 'T096', 'T097', 'T099', 'T100', 'T102', 'T103',
       'T107', 'T114', 'T115', 'T128', 'T129', 'T135', 'T138', 'T141',
       'T142', 'T143', 'T144', 'T145', 'T146', 'T147', 'T148', 'T149',
       'T150', 'T151', 'T152', 'T153', 'T154', 'T155', 'T156', 'T157',
       'T158', 'T159', 'T160', 'T161', 'T162', 'T200', 'T206', 'T209',
       'T212', 'T215', 'T218', 'T219', 'T220', 'T221', 'T222', 'T223',
       'T224', 'T225', 'T226', 'T227', 'T228', 'T229', 'T230', 'T231',
       'T232', 'T233', 'T235', 'T236', 'T237', 'T238', 'T900', 'T903'], dtype=object)

In [19]:
df.sort_values('AddressAccuracy').AddressAccuracy.unique()

array([3, 5, 8, 9])

In [20]:
df[df.WnvPresent == 1].Species.unique()

array(['CULEX PIPIENS/RESTUANS', 'CULEX PIPIENS', 'CULEX RESTUANS'], dtype=object)

In [21]:
df.Species.nunique()

7

In [22]:
df[df.WnvPresent == 1].shape

(551, 12)

In [11]:
weather = pd.read_csv('../assets/weather.csv')

In [13]:
pd.options.display.max_columns = 30

In [14]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9